catalog-rebuild/results/** -text
catalog-rebuild/results/**/*.nc filter=lfs diff=lfs merge=lfs -text
catalog-rebuild/results/**/*.tar.gz filter=lfs diff=lfs merge=lfs -text
catalog-rebuild/results/**/*.csv.gz filter=lfs diff=lfs merge=lfs -text
